@media screen and (max-width: 1005px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 40px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: center;
    }

    .img_headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .card {
        width: 100%;
    }

    footer {
        margin-top: 100px;
        /* height: 500px; */
        background-image: linear-gradient(180deg, #180F4A, #090422, black);
        text-align: center;
        border-top: 5px solid #FF2978;
    }
}